*.o
*.exe
*.dev
*.win
*.layout
*lm/
/hw1(java)/hw1390/nbproject/private/
/hw1(java)/hw1390/dist/
/hw2/parts of speech tagger/nbproject/private/
/hw2/parts of speech tagger/dist/
/hw2/parts of speech tagger/build/